.button {
    display: 'flex';
    align-items: center;
    padding: 2%;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.checkedIcon {
    color: #0000FF
}

.uncheckedIcon {
    color: #FF0000
}

.editIcon {
    color: #FFA500
}