.button {
    display: 'flex';
    align-items: center;
    padding: 2%;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.checkedIcon {
    color: #0000FF
}

.uncheckedIcon {
    color: #FF0000
}

.editIcon {
    color: #FFA500
}

.contact {
    color:#2F4F4F
}

.contactAdd {
    color:	#006400
}

.contactEdit {
    color: #FFA500
}

.delete {
    color: #8B0000
}