.containerMessage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.default {
    font-weight: 600;
    text-align: center;
    margin-right: 2%;
    padding: 0.5% 1%;
}

.success {
    background-color: #008000;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    margin-right: 2%;
    padding: 0.5% 1%;
    border-radius: 0.2em;
}

.error {
    background-color: #FF0000;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    margin-right: 2%;
    padding: 0.5% 1%;
    border-radius: 0.2em;
}

.alter {
    background-color: #FFA500;
    color: #000000;
    font-weight: 600;
    text-align: center;
    margin-right: 2%;
    padding: 0.5% 1%;
    border-radius: 0.2em;
}